body,
body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #74C69D;
}

@media (max-width: 375px) {

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 10px;
        margin-right: 10px;
        align-items: center;
        width: 375px;
        background-color: #74C69D;
    }

    .logo {
        width: 100px;
        margin-left: 20px;
        margin-top: 20px;
    }

    .nav {
        width: 30px;
        margin-right: 20px;
        margin-top: 20px;
    }

    .group {
        width: 335px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 50px;
    }

    .main-text {

        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        color: aliceblue;
    }

    .welcome {
        font-size: 16px;
    }

    .p-antraste {
        font-size: 28px;
        font-weight: 650;
    }

    .butn-mn {
        width: 170px;
        height: 48px;
        border-radius: 5px;
        border: none;
        font-size: 20px;
        margin-top: 10px;
    }

    .container-white {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-top: 40px;
        background-color: #F5F5F5;
    }

    .cw-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-left: 25px;
        margin-right: 25px;
        padding-top: 20px;

    }

    .partners {
        color: #74C69D;
        font-size: 16px;
    }

    .cwantraste {
        font-size: 28px;
        font-weight: 650;
    }

    .cwtext {
        text-align: center;
        font-size: 20px;
    }

    .logotypes {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        justify-content: center;
    }

    .firmos {
        width: 150px;
        height: 38px;
    }

    .cwbutn {
        width: 170px;
        height: 48px;
        border-radius: 5px;
        background-color: #212529;
        font-size: 20px;
        color: #F5F5F5;
        align-items: center;
        margin-bottom: 80px;
    }

}